body {
    background-color: rgb(54, 52, 46);
}

html, body {
    margin: 0; height: 100%;
    overflow: hidden;
}

#perftable {
    top: 0;
    left: 0;
    position: absolute;
    /* width: 100%; */
    /* height: fit-content; */
}

#perftable tr {
    /* width: fit-content; */
    /* height: fit-content; */
    background-color:  rgb(68, 66, 57);
    border-bottom: 1px solid rgb(100, 97, 84);
    border-top: 1px solid rgb(100, 97, 84);
}

#perftable * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#perftable > tbody > tr {
    /* width: fit-content; */
    /* width: 30px; */
    /* width: 3% */
    /* height: fit-content; */
    background-color:  rgb(59, 57, 50);
    border-bottom: 1px solid rgb(148, 144, 124);
    border-top: 1px solid rgb(148, 144, 124);
}

.nametd {
    /* width: min-content; */
    /* background-color: wheat; */
}

.stageName, .threadName {
    color: rgb(255, 244, 185);
    overflow: hidden;
}

.threadName {
    width: 200px;
}

.stageName {
    width: 20px;
    margin: 5px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
}

.info_name {
    text-align: right;
}

.info_value {
    text-align: right;
    min-width: 75px;
}

#infos td {
    padding-left: 5px;
    padding-right: 5px;
}


#infos {
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    opacity: 0.4;
    background-color: rgb(107, 104, 86);
    /* border: 1px solid rgb(173, 166, 141); */
    border-top-right-radius: 10px;
}

#infos {
    color: rgb(255, 244, 185);
}

.waitTime, .workTime, .resourceWaitTime {
    height: 30px;
    display: inline-block;
}

.contenttd {
    height: 35px;
    position: relative;
}

.waitTime {
    background-color: rgb(119, 73, 43);
}

.resourceWaitTime {
    background-color: rgb(43, 57, 119);
}

.workTime {
    background-color: brown;
}

.otherFrame .waitTime {
    background-color: rgb(82, 57, 40);
}

.otherFrame .resourceWaitTime {
    background-color: rgb(35, 44, 83);
}

.otherFrame .workTime {
    background-color: rgb(97, 39, 39);
}

.textWrapper {
    position: absolute;
}

.nodeText {
    font-size: x-small;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    /* position: absolute; */
    /* left: 3px; */
    /* padding-left: 3px; */
    /* padding-top: 3px; */
}

.cpuNode:hover .nodeText {
    overflow: visible;
    z-index: 1;
}

.activeDepended .nodeText {
    overflow: visible;
    z-index: 1;
}

.activeDependent .nodeText {
    overflow: visible;
    z-index: 1;
}

.nodeWrapper {
    position: absolute;
    bottom: 0;
}

/* .currentFrame {
}

.selectedFrame {
}

.otherFrame {
} */

.cpuNode {
    z-index: 0;
    opacity: 0.5;
    /* height: max-content; */
    width: max-content;
    position: relative;
    /* width: 200px; */
    /* height: 30px; */
}

.cpuNode:hover {
    /* z-index: 2; */
    opacity: 1;
}

.depended, .activeDepended, .dependent, .activeDependent {
    z-index: 1;
    border-radius: 5px;
}

.depended {
    border: dashed 2px rgb(167, 23, 23);
}

.activeDepended {
    border: solid 2px rgb(206, 10, 10);
}

.dependent {
    border: dashed 2px rgb(23, 45, 167);
}

.activeDependent {
    border: solid 2px rgb(10, 23, 206);
}
